html {
    font-size: 62.5%;
}

:root {
    --font-size: 10px;
}

body {
    font-family: var(--font-family-main);
    background-color: var(--light-grey);
    font-size: var(--font-size);
    font-weight: var(--fw-400);
    color: var(--transparent-white);
}


.cards-grid {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    max-width: 750px;
    width: 90%;
    margin: 10rem auto 2rem auto;
}



figure {
    margin: 0;
    text-align: left;
}

.car-title {
    font-family: var(--font-family-big);
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 3rem;
    font-weight: 700;
}

.card {
    padding: 4.8rem;
}

.car-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 3rem;
}

.card-button {
    background-color: var(--very-light-grey);
    font-size: 1rem;
    margin-top: 6rem;
    border-radius: 3rem;
    padding: 1.2rem 3rem;
    border: 0.15em solid var(--very-light-grey);
    transition: background-color 0.3s ease-in;
}

.orange-card {
    background-color: var(--clr-bright-orange);
     border-top-left-radius: 8px;
     border-bottom-left-radius: 8px;
}


.cyan-card {
    background-color: var(--clr-dark-cyan);
}

.cyan-dark-card {
    background-color: var(--clr-very-dark-cyan);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.orange-card .card-button {
    color: var(--clr-bright-orange);
   
}

.cyan-card .card-button {
    color: var(--clr-dark-cyan);
}

.cyan-dark-card .card-button {
    color: var(--clr-very-dark-cyan);
}

 .card .card-button:hover {
    color: var(--very-light-grey);
}

.orange-card .card-button:hover {
    background-color: var(--clr-bright-orange);
}

.cyan-card .card-button:hover {
    background-color: var(--clr-dark-cyan);
}

.cyan-dark-card .card-button:hover {
   background-color: var(--clr-very-dark-cyan);
}

h1, h4, footer p{
    color: #b0a8a8;
    text-align: center;
    margin-top: 0;
    text-shadow: 2px 0 4px rgba(0,0,0,0.15);
}

a:hover {
    color: var(--alink);
}

footer {
    text-align: center;
}

@media(max-width: 900px) {
    .cards-grid {
        grid-template-columns: 1fr;
        max-width: 400px;
    }
    .orange-card {
        border-radius: 0; 
    }
    .cyan-dark-card {
        border-radius: 0;
    }
    .car-description {
        margin-top: 3rem;
        /* Increased font size for better readability on smaller screens */
        font-size: 1.5rem;
    }
    .card-button {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
}

@media(max-width: 500px) {
    .card-grid {
       max-width:300px;
    }
} 

